#graia-application-mirai==0.19.0
#graia-broadcast==0.8.11
#graia-saya==0.0.9
#graia-scheduler==0.0.4
#pydantic==1.7.1
#torch==1.9.0
#transformers



beautifulsoup4==4.9.3
cloudscraper==1.2.58
graia-ariadne==0.5.0
graia-broadcast==0.14.5
graia-saya==0.0.13
graia-scheduler==0.0.4
selenium==4.0.0

aiohttp
python-magic
pillow

# to install mirai-api-httpv2, use ./mcl --update-package net.mamoe:mirai-api-http --channel stable-v2 --type plugin
# to overwrite remote master's files to local branch but preserve other local files, git checkout (local) master; git reset --hard origin/master